body{
    font-family: 'Source Serif Pro', serif;
    color: indigo;
}
h1.logo{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 3px;
    margin-top: 80px;
    margin-bottom: 5px;
    font-family: 'Libre Bodoni', serif !important;
}
h2.logo{
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
}
h3{
    padding: 20px;
    letter-spacing: 1px;
    font-size: 40px;
    text-align: center;
}
h4{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    font-family: 'Libre Bodoni', serif !important;
}
article{
    height: auto;
    border-width: 3px;
    border-color: #b180ce;
    border-style: solid;
    /* Background pattern from subtlepatterns.com */
    background-image: url("img/whitediamond.png");
    padding: 5px;
}
.row{
   /* background-color: #99949b;*/
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
form{
    width: 450px !important;
    background-color: white;
    height: 180px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 3px 3px 30px 5px #be95c4;
    -moz-box-shadow: 3px 3px 30px 5px #be95c4;
    box-shadow: 3px 3px 30px 5px #be95c4;
}
input[type=submit]{
    width: 250px;
    background-color: #9f86c0;
    font-size: 25px;
    color: white;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 1px;
    outline: none;
    font-family: 'Darker Grotesque', sans-serif;
}
input[type=submit]:focus{
-webkit-box-shadow: 0px 0px 10px 3px #be95c4;
    -moz-box-shadow: 0px 0px 10px 3px #be95c4;
    box-shadow: 0px 0px 10px 3px #be95c4;
}
input[type=submit]:hover
{
    background-color: #cdb4db;
    border: 2px solid #b180ce;
}
input::-webkit-input-placeholder{
    color: #563e5a;
}
input:focus::-webkit-input-placeholder{
    color: #5e548e;
}
input:-moz-placeholder{
    color: #563e5a;
}
input:focus:-moz-placeholder{
    color:  #5e548e;
}
footer{
    color:#9944c9;
    font-size: 20px;
    text-align: center;
    padding: 15px;
}
.category{
    font-size: 24px;
    font-weight: bold;
    font-family: 'Darker Grotesque', sans-serif;
}
select{
    height: 48px;
    font-size: 20px;
    border: 2px solid #be95c4;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    background-color: #e0b1cb;
    color: #563e5a;
    outline: none;
    font-family: 'Darker Grotesque', sans-serif;
}
select:hover{
    background-color: #cdb4db;
    border: 2px solid #b180ce;
}
select:focus{
    -webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
    -moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
    box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
    border: 2px solid #b180ce;
    background-color: #cdb4db;
    color:#9944c9
}
.column,
.total{
    text-align: center;
    border: 2px solid #b180ce;
    height: 50px;
    font-weight: bold;
    font-size: 26px;
    background-color: #b8a0d8;
}
.piechart1,
.piechart2{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-image: conic-gradient(
        #ac6cd0 100deg, 
        #bca4ca 0 235deg, 
        #e3dae9 0
        );
}
section{
    height: auto;
    /*border: 3px solid black;*/
    font-family: 'Darker Grotesque', sans-serif;
}
table{
    border: 2px solid #b180ce;
    -webkit-box-shadow: 3px 3px 20px 3px #be95c4;
    -moz-box-shadow: 3px 3px 20px 3px #be95c4;
    box-shadow: 3px 3px 20px 3px #be95c4;
    width: 420px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
td{
    padding: 5px;
    font-size: 24px;
}

  


