body{
    font-family: 'Source Serif Pro', serif;
}
h1.logo{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 3px;
    margin-top: 40px;
    margin-bottom: 5px;
    color: indigo;
    font-family: 'Libre Bodoni', serif;
}
h2.logo{
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 3px;
    margin-top: 30px;
    margin-bottom: 20px;
    color: indigo;
}
h3{
    text-align: right;
    font-size: 25px;
    font-weight: 400;
    font-family: 'Darker Grotesque', sans-serif;
    color: indigo;
}
h4{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    font-family: 'Libre Bodoni', serif;
    color: indigo;
}
h5{
    font-size: 18px;
    color: #5e548e;
    padding: 25px;
}
article{
    height: 700px;
    border-top-width: 6px;
    border-bottom-width: 6px;
    border-color: #b68bcf;
    border-style: groove;
    /* Background pattern from subtlepatterns.com */
    background-image: url("img/whitediamond.png");
    padding: 5px;
  }
.row{
    width: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
form{
    height: 350px;
    padding: 20px;
    /*-webkit-box-shadow: 3px 3px 30px 5px #be95c4;
    -moz-box-shadow: 3px 3px 30px 5px #be95c4;
    box-shadow: 3px 3px 30px 5px #be95c4;*/
}
input[type=password],
input[type=email]{
    width: 300px;
    background-color: #e0b1cb;
    color: #563e5a;
    border: 2px solid #be95c4;
    border-radius: 5px;
    font-size: 25px;
    padding: 10px;
    outline: none;
    font-family: 'Darker Grotesque', sans-serif;
}
input[type=password]:focus,
input[type=email]:focus{
    -webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
    -moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
    box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
    border: 2px solid #b180ce;
    background-color: #cdb4db;
    color:#9944c9
}
input[type=submit]{
    width: 140px;
    background-color: #9f86c0;
    font-size: 25px;
    color: white;
    padding-top: 5px;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 1px;
    outline: none;
    font-family: 'Darker Grotesque', sans-serif;
}
input[type=submit]:focus,
input[type=button]:focus{
-webkit-box-shadow: 0px 0px 10px 3px #be95c4;
    -moz-box-shadow: 0px 0px 10px 3px #be95c4;
    box-shadow: 0px 0px 10px 3px #be95c4;
}
p.remember{
    color: #5e548e;
    font-size: 17px;
}
input[type=submit]:hover,
input[type=button]:hover{
    background-color: #cdb4db;
    border: 2px solid #b180ce;
}
input::-webkit-input-placeholder{
    color: #563e5a;
}
input:focus::-webkit-input-placeholder{
    color: #5e548e;
}
input:-moz-placeholder{
    color: #563e5a;
}
input:focus:-moz-placeholder{
    color:  #5e548e;
}
footer{
    color:#9944c9;
    font-size: 20px;
    text-align: center;
    padding: 15px;
}
.icon-mail{
    font-size: 22px;
}
.icon-lock{
    font-size: 22px;
}
#hider:before{
    position: absolute;
    content: '\f06e';
    font-family: FontAwesome;
    margin-left: -45px;
    margin-top: 10px;
    font-size: 30px;
    color: #6f3392;
    cursor: pointer;
}
#hider.hide::before{
    content: '\f070';
}
#registration{
    height: 10px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
#mistake{
    margin-top: -20px;
    font-size: 28px;
    font-weight: 500;
    color: rgb(223, 5, 5);
    font-family: 'Darker Grotesque', sans-serif;
}
input[type=button]{
    background-color: #9f86c0;
    width: 240px;
    height: 60px;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 25px;
    padding: 1px;
    outline: none;
    font-family: 'Darker Grotesque', sans-serif;
}